/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Seasons';
    src: url('assets/fonts/Bitter-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('opentype');
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Playfair', Fallback, sans-serif !important;
    margin-top: 0;
    margin: 0;
}